{
  "ConnectionDefinition": [
    {
      "connectionType": "API key", // project-wide
      "projectId": "",
      "userIdentifier": "",
      "userSecret": ""
    },
    {
      "connectionType": "Account-wide",
      "userIdentifier": "",
      "userSecret": "",
      "accountUid": ""
    }
  ],
  "TestFolder": "TestFiles"
}